.App {
  text-align: center;

  h1 {
    font-size: 45px;
  }

  .mapItems {
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #e3e3e3;

    li {
      list-style: none;
      flex: 1 0 auto;

      a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        padding: 10px 15px;
        background: #3e3e3e; 
        width: 100%;
      }
    }
  }
}